@model IEnumerable<Entities.Entities.Product>

@{
    ViewData["Title"] = "ListProductsUserCart";
}

<h1>Cart produtcs list</h1>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
            
           
            <th>
                @Html.DisplayNameFor(model => model.BuyQuant)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            
            
            <td>
                @Html.DisplayFor(modelItem => item.BuyQuant)
            </td>
            
            <td>
                @Html.ActionLink("Remove", "RemoveCart", new { id=item.IdCartProduct })
            </td>
        </tr>
}
    </tbody>
</table>
